* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

/* Dark Mode */

body.dark {
    background-color: #121214;
}

.dark #timer {
    color: #FFFFFF;
}

.dark #controls svg path {
    fill: #C4C4CC;
}

.dark #card-sounds > div {
    background-color: #29292E;
}

.dark #card-sounds svg path {
    fill: #C4C4CC;
}

.dark #card-sounds .white {
    background-color: #0A3442;
}

nav {
    display: flex;
    justify-content: end;
    padding: 60px 60px 0 0;
}

nav svg {
    cursor: pointer;
}

.hide {
    display: none;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    height: 80vh;
}

#timer {
    font-size: 126px;
    margin-bottom: 3.0rem;
}

#controls {
    display: flex;
    gap: 4.0rem;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

#card-sounds {
    display: grid;
    gap: 3.2rem;
    grid-template-columns: 1fr 1fr;
}

#card-sounds > div {
    width: 138px;
    height: 152px;
    border-radius: 2.4rem;
    background-color: #E1E1E6;
    cursor: pointer;
}

#card-sounds svg {
    margin-top: 48px;
    margin-left: 40px;
}

#card-sounds svg path {
    fill: #323238;
}

#card-sounds .icon-white svg path {
    fill: #FFFFFF;
}